#sectiuneMancare{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
    padding: 0px 100px;
}

#SectionStartContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.textStart1{
    font-size: 3em;
}

.textStart2, .reducere2{
    display: none;
}

#secImg, #secImg3, #secImg2{
    width: 40em;
}

#secParagraf{
    max-width: 700px;
    margin: 20px 0px;
    text-align: justify;
}

#secText{
    margin: 0px;
    font-size: 5em;
}

#b{
    color: #756a5a;
}

#desContainer{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#boxSpec{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #756a5a;
}

#gText{
    color: white;
    font-size: 1.3em;
}

#foodContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pretContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reducere{
    width: 15em;
}

#reducereText{
    font-size: 1.5em;
}

#pretVechi{
    text-decoration: line-through;
    color: #fc2929;
    font-size: 3em;
    margin: 0px;
}

#pretNou{
    margin: 0px;
    font-size: 3em;
    color: rgb(54, 255, 54);
}

#pContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

#exploreaza{
    border: none;
    width: 200px;
    height: 40px;
    background-color: #756a5a;
    position: absolute;
    border-radius: 10px;
    color: white;
    font-size: 1.3rem;
    font-family: 'Gilroy', sans-serif;

    transition: transform 0.3s ease;
}

@media(max-width: 450px){
    .textStart1, .reducere{
        display: none;
    }
    .reducere2{
        display: flex;
        width: 6em;
    }
    .textStart2{
        display: flex;
        font-size: 1.7em;
    }
    #secImg, #secImg3, #secImg2{
        width: 18em;
    }
    #foodContainer{
        flex-direction: row;
    }
    #desContainer{
        flex-direction: column;
    }
    #boxSpec{
        width: 80px;
        height: 30px;
    }
    #gText{
        font-size: 0.9em;
    }
    #secText{
        display: flex;
        justify-content: center;
        font-size: 2.7em;
    }
}