footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 500px;
    margin-top: 150px;
    background-color: white;
    gap: 100px;
}

#footerSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

#textFooter{
    color: black;
    text-decoration: none;
    margin-right: 20px;
}

#footerLogo{
    width: 50px;
}

#footerText{
    color: black;
}

#footerSectionCompany{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    gap: 10px;
}

#footerParagraf{
    color: black;
    text-align: justify;
    width: 450px;
}

#footerSection2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footerPart1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 300px;
}

#footerMedia{
    width: 30px;
    height: 30px;
}

#footerSMContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#text3{
    margin-top: 10px;
    margin-bottom: 5px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

@media(max-width: 650px){
    #footerSection{
        display: none;
    }
    #footerParagraf{
        font-size: 1em;
        width: 300px;
    }
}