header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 65px;
    background-color: rgb(15, 15, 15);
}

.logo{
    width: 200px;
    margin-left: 30px;
}

#cos{
    width: 1.7em;
    margin-right: 30px
}

.sectionHeader{
    text-decoration: none;
    font-size: 1.1rem;
    font-family: 'Gilroy', sans-serif;
    color: white;
}

#sectionContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
}

#horizontalBar{
    width: 100%;
    height: 2px;
    background: #5CE1E6;
    background: linear-gradient(90deg, rgba(92, 225, 230, 1) 0%, rgba(140, 82, 255, 1) 64%);
    border-radius: 20px;
}

#Container{
    display: flex;
    gap: 20px;
}

@media(max-width: 450px){
    .sectionHeader{
        display: none;
    }
    .logo{
        width: 150px;
        margin-left: 20px;
    }
    #cos{
        margin-right: 20px;
    }
}