@font-face {
  font-family: 'Gilroy';
  src: url('../../../assets/Gilroy.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

body{
    margin: 0px;
    background-color: rgb(0, 0, 0);
    font-family: 'Gilroy', sans-serif;
    color: white;
}

h1{
    font-size: 5rem;
}

#Sectiune2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 500px;
    gap: 100px;
    margin-top: 300px;
}

#textContainer{
    display: flex;
    flex-direction: column;
    justify-content: end;
    max-width: 600px;
    height: 100%;
}

#gym{
    width: 400px;
    border-radius: 10px;
}

#textTitle{
    color: white;
    font-size: 4rem;
    margin: 0px;
}

#textParagraf{
    color: #b9b9b9;
    text-align: justify;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 80px;
    width: 550px;
}

#salaImg{
    width: 800px;
    border-radius: 15px;
}

#sc{
    text-decoration-color: #5353fc;
}

#abonamenteButton{
    border: none;
    width: 250px;
    height: 55px;
    background: #5CE1E6;
    background: linear-gradient(90deg, rgba(92, 225, 230, 1) 0%, rgba(140, 82, 255, 1) 64%);
    border-radius: 10px;
    color: white;
    font-size: 1.3rem;
    font-family: 'Gilroy', sans-serif;
}

#reviews{
    width: 200px;
}

@media(max-width: 650px){
    #salaImg{
        width: 350px;
    }
    #textContainer{
        justify-content: center;
        align-items: center;
    }
    #textTitle{
        text-align: center;
        font-size: 2rem;
    }
    #textParagraf{
        font-size: 1rem;
        width: 350px;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}