@font-face {
  font-family: 'Gilroy';
  src: url('../../../assets/Gilroy.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

body{
    margin: 0px;
    background-color: rgb(0, 0, 0);
    font-family: 'Gilroy', sans-serif;
    color: white;
}

h1{
    font-size: 5rem;
}

#Sectiune2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 100px;
    min-height: 500px;
    gap: 100px;
    margin-top: 300px;
}

#textContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#gym{
    width: 400px;
    border-radius: 10px;
}

#textTitle{
    color: white;
    font-size: 4rem;
    margin: 0px;
}

#textParagraf{
    color: #b9b9b9;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 80px;
    width: 700px;
}

#imgContainer{
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: 450px 450px;
    gap: 1rem;
    height: 100%;
    grid-template-areas: 
        "box1 box1"
        "box2 box3";
}

#box1, #box2, #box3{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

#box2, #box3{
    height: 55%;
}

#sc{
    text-decoration-color: #5353fc;
}

#abonamenteButton{
    border: none;
    width: 250px;
    height: 55px;
    background: #5CE1E6;
    background: linear-gradient(90deg, rgba(92, 225, 230, 1) 0%, rgba(140, 82, 255, 1) 64%);
    border-radius: 10px;
    color: white;
    font-size: 1.3rem;
    font-family: 'Gilroy', sans-serif;
}

#reviews{
    width: 200px;
}

@media(max-width: 1000px){
    #imgContainer{
        grid-template-columns: 200px 200px;
        grid-template-rows: 250px 250px;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}